In [146]:
import pandas as pd

In [147]:
data_merged = pd.read_csv("traction-analytics/may_june_data_merged.csv")
data_unique = pd.read_csv("traction-analytics/combined_data_may_june_unique.csv")
data_unique = data_unique.rename(columns={"Link":"link"})

In [148]:
columns = ["published", "Link URL", "facebook_interactions", "date_extracted"]
may_june_data_filtered = pd.merge(data_merged, data_unique[['link', 'Link URL']], on='link')[columns].rename(columns={"Link URL":"link"})

In [149]:
may_june_data_filtered["published"] = pd.to_datetime(may_june_data_filtered['published'])
may_june_data_filtered["date_extracted"] = pd.to_datetime(may_june_data_filtered['date_extracted'])
may_june_data_filtered['source'] = "may_june_data_filtered.xlsx"

In [150]:
may_june_data_filtered

,published,link,facebook_interactions,date_extracted,source
0,2023-04-26 11:00:01,https://www.facebook.com/todayonline/videos/24...,1187,2023-05-01,may_june_data_filtered.xlsx
1,2023-06-01 06:40:01,https://www.straitstimes.com/singapore/courts-...,885,2023-06-03,may_june_data_filtered.xlsx
2,2023-06-01 06:40:01,https://www.straitstimes.com/singapore/courts-...,696,2023-06-02,may_june_data_filtered.xlsx
3,2023-06-01 06:40:01,https://www.straitstimes.com/singapore/courts-...,938,2023-06-06,may_june_data_filtered.xlsx
4,2023-06-01 06:40:01,https://www.straitstimes.com/singapore/courts-...,944,2023-06-08,may_june_data_filtered.xlsx
...,...,...,...,...,...
15285,2023-05-29 01:30:02,https://goodyfeed.com/cannabis-leaves-woodleig...,349,2023-06-02,may_june_data_filtered.xlsx
15286,2023-05-29 01:30:02,https://goodyfeed.com/cannabis-leaves-woodleig...,350,2023-06-03,may_june_data_filtered.xlsx
15287,2023-06-08 09:47:07,https://www.facebook.com/257322959118171/posts...,12,2023-06-09,may_june_data_filtered.xlsx
15288,2023-06-04 02:45:00,https://www.facebook.com/photo.php?fbid=638376...,8,2023-06-04,may_june_data_filtered.xlsx
15289,2023-06-01 00:30:00,https://www.facebook.com/photo.php?fbid=636566...,10,2023-06-01,may_june_data_filtered.xlsx

In [151]:
may_june_data_filtered.to_excel("traction-analytics/may_june_data_filtered.xlsx", index=False)