In [1]:
import pandas as pd

In [30]:
df_p = pd.read_csv("data/predicted.csv")
df_p

,published,headline,summary,link,domain,facebook_interactions,vector,suggested_labels,suggested_labels_score
0,2023-05-17 06:03:26,Lee Do-hyun spotted chilling in Sentosa with f...,Lee Do-hyun was spotted enjoying his time by t...,https://www.facebook.com/121790674546188_64239...,asiaone.com,44180,"[-0.003120377426967025, 0.09128322452306747, -...","['general > others', 'general > ndp', 'nationa...","[0.5245083241085345, 0.08740446013905419, 0.07..."
1,2023-05-17 06:03:26,Lee Do-hyun spotted chilling in Sentosa with f...,Lee Do-hyun was spotted enjoying his time by t...,https://www.facebook.com/121790674546188_64239...,asiaone.com,44180,"[-0.0031204139813780785, 0.09128322452306747, ...","['general > others', 'general > ndp', 'nationa...","[0.5245080664701762, 0.08740452424768363, 0.07..."
2,2023-05-17 06:03:26,Lee Do-hyun spotted chilling in Sentosa with f...,Lee Do-hyun was spotted enjoying his time by t...,https://www.facebook.com/121790674546188_64239...,asiaone.com,44180,"[-0.0031204314436763525, 0.09128326177597046, ...","['general > others', 'general > ndp', 'nationa...","[0.5245083689424216, 0.08740446135672054, 0.07..."
3,2023-05-17 06:03:26,Lee Do-hyun spotted chilling in Sentosa with f...,Lee Do-hyun was spotted enjoying his time by t...,https://www.facebook.com/121790674546188_64239...,asiaone.com,44180,"[-0.003120419569313526, 0.09128327667713165, -...","['general > others', 'general > ndp', 'nationa...","[0.5245084657759634, 0.08740443914600056, 0.07..."
4,2023-05-11 09:09:47,"S'porean boy with autism, 18, delighted when 2...","Danish had invited 10 of his classmates, but h...",https://www.facebook.com/592308557475467_66157...,mothership.sg,37841,"[0.06449095904827118, -0.007016546092927456, -...","['general > hari raya', 'food security > chick...","[0.729143710192879, 0.03873920441392867, 0.033..."
...,...,...,...,...,...,...,...,...,...
10289,2023-05-01 07:37:16,Ho Ching: 'No need to hyperventilate' over lat...,The Additional Buyer's Stamp Duty (ABSD) is me...,https://www.facebook.com/592308557475467_65813...,mothership.sg,294,"[-0.04241332784295082, 0.11296672374010086, 0....","['general > budget', 'cost of living > support...","[0.4012914679085019, 0.14065272599294698, 0.11..."
10290,2023-05-03 06:36:53,MasterChef Australia judge Jock Zonfrillo's de...,The 15th season of MasterChef Australia was or...,https://www.facebook.com/93889432933_101596080...,cnalifestyle.channelnewsasia.com,292,"[0.006717669777572155, 0.005063425283879042, -...","['general > others', 'national defence > nsf',...","[0.6633245348830571, 0.06444949862907286, 0.05..."
10291,2023-05-03 06:36:53,MasterChef Australia judge Jock Zonfrillo's de...,The 15th season of MasterChef Australia was or...,https://www.facebook.com/93889432933_101596080...,cnalifestyle.channelnewsasia.com,292,"[0.0067176418378949165, 0.005063427146524191, ...","['general > others', 'national defence > nsf',...","[0.6633250692073247, 0.06444951669996411, 0.05..."
10292,2023-05-03 04:53:00,Ryan Tan Puts Yio Chu Kang Condo Penthouse Up ...,The price includes renovation costs for the 4-...,https://www.facebook.com/292279440975148_55642...,mustsharenews.com,290,"[-0.011937113478779793, -0.03445840999484062, ...","['housing > others', 'housing > resale prices'...","[0.44665166282565866, 0.23373344882866723, 0.0..."
10293,2023-05-03 04:53:00,Ryan Tan Puts Yio Chu Kang Condo Penthouse Up ...,The price includes renovation costs for the 4-...,https://www.facebook.com/292279440975148_55642...,mustsharenews.com,290,"[-0.011937162838876247, -0.03445839136838913, ...","['housing > others', 'housing > resale prices'...","[0.4466517184797083, 0.23373338914890138, 0.08..."

In [3]:
df_pred = pd.read_csv("data/predicted_for_dashboard.csv")
df_extracted = pd.read_csv("data/combined_data_may.csv")

In [28]:
df_pred['published'] = pd.to_datetime(df_pred['published'])
df_pred

,published,headline,summary,link,domain,facebook_interactions,vector,suggested_labels,suggested_labels_score
0,2023-05-17 06:03:26,Lee Do-hyun spotted chilling in Sentosa with f...,Lee Do-hyun was spotted enjoying his time by t...,https://www.facebook.com/121790674546188_64239...,asiaone.com,44180,"[-0.003120377426967025, 0.09128322452306747, -...","['general > others', 'general > ndp', 'nationa...","[0.5245083241085345, 0.08740446013905419, 0.07..."
1,2023-05-17 06:03:26,Lee Do-hyun spotted chilling in Sentosa with f...,Lee Do-hyun was spotted enjoying his time by t...,https://www.facebook.com/121790674546188_64239...,asiaone.com,44180,"[-0.0031204139813780785, 0.09128322452306747, ...","['general > others', 'general > ndp', 'nationa...","[0.5245080664701762, 0.08740452424768363, 0.07..."
2,2023-05-11 09:09:47,"S'porean boy with autism, 18, delighted when 2...","Danish had invited 10 of his classmates, but h...",https://www.facebook.com/592308557475467_66157...,mothership.sg,37841,"[0.06449095904827118, -0.007016546092927456, -...","['general > hari raya', 'food security > chick...","[0.729143710192879, 0.03873920441392867, 0.033..."
3,2023-05-11 09:09:47,"S'porean boy with autism, 18, delighted when 2...","Danish had invited 10 of his classmates, but h...",https://www.facebook.com/592308557475467_66157...,mothership.sg,37198,"[0.06449095904827118, -0.007016546092927456, -...","['general > hari raya', 'food security > chick...","[0.729143710192879, 0.03873920441392867, 0.033..."
4,2023-05-17 06:03:26,Lee Do-hyun spotted chilling in Sentosa with f...,Lee Do-hyun was spotted enjoying his time by t...,https://www.facebook.com/121790674546188_64239...,asiaone.com,35697,"[-0.003120377426967025, 0.09128322452306747, -...","['general > others', 'general > ndp', 'nationa...","[0.5245083241085345, 0.08740446013905419, 0.07..."
...,...,...,...,...,...,...,...,...,...
4885,2023-05-02 07:40:31,M'sia says schools can close if it exceeds 37Â...,The average temperature throughout most of Mal...,https://www.facebook.com/592308557475467_65845...,mothership.sg,303,"[0.0067795393988490105, 0.02520010620355606, 0...","['general > weather', 'transport > erp rates',...","[0.8700016797454516, 0.01996073496588685, 0.01..."
4886,2023-05-03 11:44:01,Changi Airport Terminal 2 to reopen fully in O...,The full reopening of T2 comes amid anticipati...,https://www.facebook.com/129011692114_10159186...,straitstimes.com,296,"[0.045586809515953064, -0.03909154608845711, 0...","['covid sg/mtf press con > border reopening', ...","[0.644917088894644, 0.14894644335197704, 0.108..."
4887,2023-05-02 06:23:56,"Hungry guy eats S$200,000 banana artwork at So...",Real art is eating a banana sideways in public...,https://www.facebook.com/592308557475467_65843...,mothership.sg,294,"[-0.0354459211230278, 0.09334518760442734, 0.0...","['general > others', 'general > ndp', 'nationa...","[0.754267174041013, 0.0406267090364972, 0.0364..."
4888,2023-05-03 06:36:53,MasterChef Australia judge Jock Zonfrillo's de...,The 15th season of MasterChef Australia was or...,https://www.facebook.com/93889432933_101596080...,cnalifestyle.channelnewsasia.com,292,"[0.006717669777572155, 0.005063425283879042, -...","['general > others', 'national defence > nsf',...","[0.6633245348830571, 0.06444949862907286, 0.05..."
4889,2023-05-03 04:53:00,Ryan Tan Puts Yio Chu Kang Condo Penthouse Up ...,The price includes renovation costs for the 4-...,https://www.facebook.com/292279440975148_55642...,mustsharenews.com,290,"[-0.011937113478779793, -0.03445840999484062, ...","['housing > others', 'housing > resale prices'...","[0.44665166282565866, 0.23373344882866723, 0.0..."

In [27]:
df_extracted = pd.read_csv("data/combined_data_may.csv")
df_extracted['Published'] = pd.to_datetime(df_extracted['Published'])
df_extracted.rename(columns={'Published': 'published', 'Link':'link', 'Facebook Interactions':"facebook_interactions"}, inplace=True)
df_extracted = df_extracted[['published', 'link', 'facebook_interactions', 'date_extracted']]
df_extracted

,published,link,facebook_interactions,date_extracted
0,2023-04-25 10:03:11,https://www.facebook.com/592308557475467_65627...,14739,2023-05-01
1,2023-04-25 09:20:00,https://www.facebook.com/129011692114_10159170...,10030,2023-05-01
2,2023-04-25 05:18:26,https://www.facebook.com/345185573000_61517080...,922,2023-05-01
3,2023-04-25 03:30:00,https://www.facebook.com/345185573000_61504389...,867,2023-05-01
4,2023-04-27 07:00:09,https://www.facebook.com/39533052294_101602403...,443,2023-05-01
...,...,...,...,...
6884,2023-05-16 09:19:14,https://www.facebook.com/93889432933_101596344...,315,2023-05-22
6885,2023-05-20 01:30:03,https://www.facebook.com/129011692114_10159217...,311,2023-05-22
6886,2023-05-18 10:13:42,https://www.facebook.com/592308557475467_66398...,310,2023-05-22
6887,2023-05-21 04:12:03,https://www.facebook.com/147858757571_10160172...,309,2023-05-22
6888,2023-05-19 03:57:36,https://www.facebook.com/93889432933_101596394...,309,2023-05-22

In [32]:
# left join table by published, link and facebook_interactions

df = pd.merge(df_pred, df_extracted, how='left', on=['published', 'link', 'facebook_interactions'])
df

,published,headline,summary,link,domain,facebook_interactions,vector,suggested_labels,suggested_labels_score,date_extracted
0,2023-05-17 06:03:26,Lee Do-hyun spotted chilling in Sentosa with f...,Lee Do-hyun was spotted enjoying his time by t...,https://www.facebook.com/121790674546188_64239...,asiaone.com,44180,"[-0.003120377426967025, 0.09128322452306747, -...","['general > others', 'general > ndp', 'nationa...","[0.5245083241085345, 0.08740446013905419, 0.07...",2023-05-21
1,2023-05-17 06:03:26,Lee Do-hyun spotted chilling in Sentosa with f...,Lee Do-hyun was spotted enjoying his time by t...,https://www.facebook.com/121790674546188_64239...,asiaone.com,44180,"[-0.003120377426967025, 0.09128322452306747, -...","['general > others', 'general > ndp', 'nationa...","[0.5245083241085345, 0.08740446013905419, 0.07...",2023-05-22
2,2023-05-17 06:03:26,Lee Do-hyun spotted chilling in Sentosa with f...,Lee Do-hyun was spotted enjoying his time by t...,https://www.facebook.com/121790674546188_64239...,asiaone.com,44180,"[-0.0031204139813780785, 0.09128322452306747, ...","['general > others', 'general > ndp', 'nationa...","[0.5245080664701762, 0.08740452424768363, 0.07...",2023-05-21
3,2023-05-17 06:03:26,Lee Do-hyun spotted chilling in Sentosa with f...,Lee Do-hyun was spotted enjoying his time by t...,https://www.facebook.com/121790674546188_64239...,asiaone.com,44180,"[-0.0031204139813780785, 0.09128322452306747, ...","['general > others', 'general > ndp', 'nationa...","[0.5245080664701762, 0.08740452424768363, 0.07...",2023-05-22
4,2023-05-11 09:09:47,"S'porean boy with autism, 18, delighted when 2...","Danish had invited 10 of his classmates, but h...",https://www.facebook.com/592308557475467_66157...,mothership.sg,37841,"[0.06449095904827118, -0.007016546092927456, -...","['general > hari raya', 'food security > chick...","[0.729143710192879, 0.03873920441392867, 0.033...",2023-05-17
...,...,...,...,...,...,...,...,...,...,...
6477,2023-05-02 07:40:31,M'sia says schools can close if it exceeds 37Â...,The average temperature throughout most of Mal...,https://www.facebook.com/592308557475467_65845...,mothership.sg,303,"[0.0067795393988490105, 0.02520010620355606, 0...","['general > weather', 'transport > erp rates',...","[0.8700016797454516, 0.01996073496588685, 0.01...",2023-05-04
6478,2023-05-03 11:44:01,Changi Airport Terminal 2 to reopen fully in O...,The full reopening of T2 comes amid anticipati...,https://www.facebook.com/129011692114_10159186...,straitstimes.com,296,"[0.045586809515953064, -0.03909154608845711, 0...","['covid sg/mtf press con > border reopening', ...","[0.644917088894644, 0.14894644335197704, 0.108...",2023-05-04
6479,2023-05-02 06:23:56,"Hungry guy eats S$200,000 banana artwork at So...",Real art is eating a banana sideways in public...,https://www.facebook.com/592308557475467_65843...,mothership.sg,294,"[-0.0354459211230278, 0.09334518760442734, 0.0...","['general > others', 'general > ndp', 'nationa...","[0.754267174041013, 0.0406267090364972, 0.0364...",2023-05-04
6480,2023-05-03 06:36:53,MasterChef Australia judge Jock Zonfrillo's de...,The 15th season of MasterChef Australia was or...,https://www.facebook.com/93889432933_101596080...,cnalifestyle.channelnewsasia.com,292,"[0.006717669777572155, 0.005063425283879042, -...","['general > others', 'national defence > nsf',...","[0.6633245348830571, 0.06444949862907286, 0.05...",2023-05-04
6481,2023-05-03 04:53:00,Ryan Tan Puts Yio Chu Kang Condo Penthouse Up ...,The price includes renovation costs for the 4-...,https://www.facebook.com/292279440975148_55642...,mustsharenews.com,290,"[-0.011937113478779793, -0.03445840999484062, ...","['housing > others', 'housing > resale prices'...","[0.44665166282565866, 0.23373344882866723, 0.0...",2023-05-04

In [33]:
df.to_csv("data/combined_data_merged.csv", index=False)